version: '3.8'

services:
  mongo:
    image: mongo:latest
    hostname: mongo
    container_name: mongo
    restart: unless-stopped
    ports:
      - "27017:27017"
    networks:
      - person-network
  opensearch:
    image: opensearchproject/opensearch:2.4.0
    hostname: opensearch
    container_name: opensearch
    environment:
      - discovery.type=single-node
      - plugins.security.disabled=true
    ulimits:
      memlock:
        soft: -1
        hard: -1
    restart: on-failure
    networks:
      - person-network
  graylog:
    image: graylog/graylog:5.1.5
    hostname: graylog
    container_name: graylog
    depends_on:
      - mongo
      - opensearch
    environment:
      GRAYLOG_PASSWORD_SECRET: "f62c92ac283e4f1f969ad5e71d4c7b2e11e9bdbf5e193ae7bb4e9b4e1e956e437c98a43cd624c5ea8a2c97b9463f96e8"
      GRAYLOG_ROOT_PASSWORD_SHA2: "8c6976e5b5410415bde908bd4dee15dfb167a9c873fc4bb8a81f6f2ab448a918"
      GRAYLOG_HTTP_BIND_ADDRESS: "0.0.0.0:9000"
      GRAYLOG_HTTP_EXTERNAL_URI: "http://localhost:9000/"
      GRAYLOG_MONGODB_URI: "mongodb://mongo:27017/graylog"
      GRAYLOG_ELASTICSEARCH_HOSTS: "http://opensearch:9200"
    ports:
      - "9000:9000"
      - "12201:12201/udp"
    restart: on-failure
    networks:
      - person-network
networks:
  person-network:
    driver: bridge