<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="GRAYLOG" class="de.siegmar.logbackgelf.GelfUdpAppender">
        <graylogHost>localhost</graylogHost>
        <graylogPort>12201</graylogPort>
        <hostName>JOAO</hostName>
        <facility>Person</facility>
        <includeLocation>true</includeLocation>
    </appender>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

    <logger name="com.person" level="INFO" additivity="false">
        <appender-ref ref="GRAYLOG" />
        <appender-ref ref="CONSOLE" />
    </logger>

</configuration>